@model Summer_Reading_Challenge.Models.Book

@{
    ViewBag.Title = "Delete";
}
@*Delete form that displays the selected entry to be deleted*@

<h3>Delete</h3>

<h3>Are you sure you want to delete this book?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">

        @*DATE*@
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        @*BOOK TITLE*@

        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        @*AUTHOR*@
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @*Delete button*@

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
