
@model IEnumerable<Summer_Reading_Challenge.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h3>Index</h3>

@*'Add Book' button *@
<p>
    <a href="@Url.Action("Add")" class="btn btn-success btn-sm">
        <span class="hidden-xs">Add Book</span> <span class="glyphicon glyphicon-plus"></span>
    </a>
</p>

@*Using html.displaynamefor to display column titles *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

    @*Loop through each Book to include Edit and Delete options for each item *@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
